div{
	width: 100%;
	width: auto;
	max-width: 1300px;
	height: auto;
	padding: 10px 20px 10px;
	border-width: auto;
	border-style: solid;
	border-color: black;
	margin: auto;
	text-align: justify;
	background-size: cover;	
}
