margin
.menu horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;

}
.menu horizontal > li > a{
	display: block;
	padding: 15px,24px;
	color: aliceblue;
	text-decoration: none;
	
	
}

.menu vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: aliceblue;
	background-color: rgba(0,0,0,.5);
}
#boton li:hover.menuhorizontal{
	display: block;
	
}